@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body {
    background-color: #f5f6f8;
}

header {
    width: 100%;
    height: 160px;
    position: relative;

    display: flex;
    justify-content: center;
}

.header-background {
    width: 100%;
    height: 78%;
    background-color:#5965df;
    border-radius: 0 0 0 80px;
    top: 0;
    right: 0;
    position: absolute;
}

h1 {
    color: #fff;
    position: absolute;
    top: 30px;
    left: 9.5%;
}

.header-filter {
    position: relative;
    top: 63%;

    display: flex;
    justify-content: center;  
    width: 100%;  
}

.header-filter form {
    display: flex;
    width: 82%;
}

form .input-container:nth-child(1) {
    width: 45%;
}

form .input-container:nth-child(2) {
    width: 25%;
    min-width: 160px;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
    min-width: 90px;
    height: 60px;
}

.input-container svg {
    width: 20px;
    position: absolute;
    margin-left: 20px;
    color: #5965df;
}

.input-container svg:nth-child(3) {
    display: none;
}

.input-container input {
    border: none;
    border-right: 1px solid lightgray;
    padding-left: 50px;
}

input:focus {
    outline: none;
}

#boutonResponsive {
    display: none;
}

.input-container #inputTitle {
    width: 100%;
    height: 100%;
    border-radius: 4px 0 0 4px;
}

.input-container #inputLocalisation {
    width: 100%;
    height: 100%;
}

.input-container input::placeholder {
    color: #b1b2b4;
    font-weight: 500;
    font-size: 13px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;
    min-width: 190px;
    height: 60px;
    border: none;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
    padding: 0 10px 0 10px;
}

.checkmark {
   position: relative;
    min-width: 20px;
    height: 20px;
    background: #e8e8ea;
    border-radius: 2px;
    transition: all 0.5s;
}

.checkmark::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 10px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    top: 2px;
    left: 7px;
    transform: rotate(40deg);
    opacity: 0;
}

#inputTime:checked ~ .checkmark {
    background-color: #5965df;
}

#inputTime:checked ~ .checkmark::after {
    opacity: 1;
}

.search p {
    font-weight: bold;
    font-size: 13px;
    margin: 0 10px 0 10px;
    width: 160px;
    text-align: center;
}

.search #bouton {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #5965df;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 11px;
}



section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px 0 50px 0;
}

.job-card {
    position: relative;
    width: 280px;
    height: 160px;

    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    margin: 75px 15px 0 15px;
}

.job-img {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -25px;
    left: 30px;

    width: 50px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.job-img img {
    width: 100%;
}

.job-hours {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    top: 50px;

}

.job-hours, .job-entreprise {
    position: absolute;
    font-size: 14px;
    color: #98a1ad;
}

.separateur {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #98a1ad;
    margin: 0 15px 0 15px;
}

.job-name {
    position: absolute;
    top: 80px;

    font-size: 19px;
    font-weight: 700;
    color: #1b2029;

    width: 300px;
    height: 25px;
    overflow: hidden;
}

.job-entreprise {
    top: 110px;
}

.job-location {
    position: absolute;
    bottom: 35px;
    width: 250px;

    font-weight: bold;
    color: #5965df;
}


.voir-plus-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.voir-plus-container a {
    width: 110px;
    height: 40px;
    background-color: #5965df;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    color: #ffF;
    cursor: pointer;
}

.description-poste-container {
    position: relative;
    width: 675px;
    top: 55%;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px 0 20px;
}

.description-title-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 110px;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 30px;
}

.description-title-image {
    display: flex;
    align-items: center;
    width: 147px;
    height: 110px;
    background-color: #fff;
}

.description-title-image img {
    width: 100%;
}

.description-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.description-title-company {
    font-size: 19px;
    font-weight: 600;
    color: #1b2029;
    margin-bottom: 4px;
    max-width: 330px;
    overflow: hidden;
}

.description-title small {
    color:  #98a1ad;
}

.description-title a {
    display: flex;
    align-items: center;

    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #efeff8;
    color: #5965df;
}

.description-poste {
    max-width: 100%;
    background-color: #fff;
    padding: 45px;
    border-radius: 4px;
}


@media screen and (max-width: 1200px) {
    .job-card {
        width: 240px;
        height: 140px;
    }

    .job-img {
        width: 40px;
        height: 40px;
    }

    .job-hours, .job-entreprise {
        font-size: 13px;
    }

    .job-name {
        width: 250px;
        height: 20px;
        font-size: 16px;
    }

    .job-location {
        font-size: 11px;
    }
}

@media screen and (min-width: 589px) and (max-width: 675px) {

    .job-card {
        width: 197px;
        height: 120px;
    }

    .job-img {
        width: 35px;
        height: 35px;
    }

    .job-hours, .job-entreprise {
        font-size: 10px;
    }

    .job-name {
        width: 205px;
        height: 18px;
        font-size: 14px;
    }

    .job-location {
        font-size: 8px;
    }
}

@media screen and (max-width: 675px) {

    .header-filter form {
        width: 90%;
    }

    .search {
        min-width: 170px;
    }

    .search p {
        margin: 0;
    }
}


@media screen and (max-width: 550px) {

    section {
        margin: 0 0 25px 0;
    }

    .header-background {
        border-radius: 0;
    }

    .input-container input::placeholder {
        font-size: 12px;
    }

    .header-filter {
        top: 58%;
    }

   form .input-container:nth-child(2), .search {
       display: none;
   }

   .search {
       width: 100%;
       padding: 0;
   }

   .search #bouton {
       display: none;
   }

   .header-filter form {
       justify-content: center;
       flex-direction: column;
   }

   form .input-container {
        width: 100%!important;
   }

   form input {
    border-radius: 4px!important;
    border: none!important;
    font-size: 12px;
   }

   .input-container svg:nth-child(1) {
        display: none;
    }

    .input-container input {
        padding-left: 25px;
    }

    .input-container svg:nth-child(3){
        display: block;
        right: 70px;
        color: #98a1ad;
        cursor: pointer;
    }


    #boutonResponsive svg {
        display: block;
        color: #fff;
        margin: 0;
        right: 10px;
    }

   #boutonResponsive {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #5966de;
        border-radius: 4px;

        cursor: pointer;
    }

    #boutonResponsive:active {
        transform: scale(1.05);
        transition: all 0.1s;
    }
}


@media screen and (max-width: 415px) {


}